<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<th:block th:insert="base :: header"></th:block>
<head>

    <title>Title</title>

</head>
<body>
<div th:replace="base :: navlinks"></div>
<div>

      Title: <span th:text="${course.title}"></span><br/> </p>
                <p>Description: <p th:text="${course.description}"></p> </p>
<p>Credits:<span th:text="${course.credit}"></span><br/>
            </p>
</div>
<div>
            <a type="button" class="btn btn-danger" href="@{/delete/{id}(id=${course.id})}" role="button"> Delete this course</a>
</div>
       <div>    <h1>Instructor Details</h1>

                 <li class="active">First Name: <span th:text="${course.instructor.firstName}"></span> </li>
                <li>Last name: <span th:text="${course.instructor.lastName}"></span></li>
                <li>Age: <span th:text="${course.instructor.age}"></span></li>
                <li>Department: <span th:text="${course.instructor.department}"></span></li>
              <span> <img th:src="${course.instructor.headShot}"></span>
            </ul><br></p>

       </div>

</body>
</html>